html,
app-root,
body {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

body {
    background-size: 100% 100%;
    background-image: url('./assets/images/backgrounds/todo_back.jpg');
}

#root {
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}

.card {
    border-radius: 16px !important;
}

.sp-4 {
    padding: 4px;
}

.sp-8 {
    padding: 8px;
}

.sp-16 {
    padding: 16px;
}

.sp-24 {
    padding: 24px;
}